
.black_tile{
    background-color: #0000009e;
}
.white_tile {
    background-color: ffffffbd;
}

.chess-img {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--dynamic-image);
}